* {
    cursor: default;
}

body, h1, h2, h3, p {
  font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: #070a12;
    color: #e8e8e8;
    overflow-x: auto;
}

::-webkit-scrollbar {
    height: 6px;
    border: 1px solid rgba(255,255,255,0.1);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.308);
}





header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 999;

    background-color: #0b0f1a;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

header h1 {
    margin: 0;
    transition: opacity 0.5s ease;
}

header .fa-bars {
    position: absolute;
    left: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 999;
}

header .fa-bars:hover {
    color: #b3bfe4;
}

#dropdown {
    display: none;
    position: absolute;
    top: 70px;
    left: 0px;
    width: 200px;
    background-color: #0b0f1a;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 0 0 8px 8px;
    padding: 10px;
}

#dropdown a {
    display: block;
    color: white;
    font-style: italic;
    text-decoration: none;
    padding: 8px 15px;
    }

#dropdown a:hover {
    background-color: rgba(255,255,255,0.1);
    border-radius: 9px;
    cursor: pointer;
}





#imageSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    position: relative;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  pointer-events: none; /* so stars don't interfere with hovering the image */
  animation: twinkle 1.5s infinite alternate;
  z-index: -1;
}

@keyframes twinkle {
  0% { opacity: 0.2; }
  100% { opacity: 1; }
}

#imageSection img {
    height: 800px;
    width: auto;
    border-radius: 8px;
    z-index: 1;
    cursor: pointer;
}

#imageSection p {
    width: 350px;
}

#earthInfo {
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: #0b0f1a;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 8px;
    padding: 10px;
    z-index: 1;
}

#solarsystemdiv p#info {
    width: 550px;
}

#solarsystemdiv p {
  transition: opacity 0.8s ease;
}

.statsCard {
    background-color: #0b0f1a;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 8px;
}

#Sun {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

#Sun p {
    width: 500px;
}

#Sun img {
    height: 500px;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(255, 165, 0, 0.6);
}

#Mercury {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

#Mercury p {
    width: 500px;
}

#Mercury img {
    height: 500px;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 0 30px rgb(117, 114, 114);
}

#Venus {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

#Venus p {
    width: 500px;
}

#Venus img {
    height: 500px;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 0 30px rgb(250, 132, 21);
}

#Earth {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

#Earth p {
    width: 500px;
}

#Earth img {
    height: 500px;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(36, 119, 243, 0.459);
}

#Mars {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 1px;
}

#Mars p {
    width: 500px;
}

#Mars img {
    height: 500px;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(252, 165, 34, 0.63);
}


#asteroidbelt {
    position: relative;
    height: 300px;
}

.asteroid {
    position: absolute;
    background: #888;
    border-radius: 50%;
    opacity: 1;
    animation: drift linear infinite;
    animation-duration: var(--duration);
}

@keyframes drift {
    0% { transform: translateX(0); }
    100% { transform: translateX(-200vw); }
}


#Jupiter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

#Jupiter p {
    width: 500px;
}

#Jupiter img {
    height: 500px;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 0 30px rgb(255, 231, 253);
}

#Saturn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

#Saturn p {
    width: 700px;
}

#saturnimgdiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#saturnimgdiv img {
    height: 400px;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 0 30px rgb(250, 225, 172);
}

#Uranus {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

#Uranus p {
    width: 500px;
}

#Uranus img {
    height: 500px;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(171, 238, 255, 0.986);
}

#Neptune {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

#Neptune p {
    width: 500px;
}

#Neptune img {
    height: 500px;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(84, 115, 255, 0.986);
}

#Moonsgallery {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 10px;
    padding: 25px;
}

#Moonsgallery img {
    height: 400px;
    width: auto;
    border-radius: 8px;
    flex-shrink: 0;
}

#Moonsgallery::-webkit-scrollbar {
    height: 8px;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
}

#Moonsgallery::-webkit-scrollbar-track {
    background: transparent;
}

#Moonsgallery::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

#Moonsgallery::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
}

#Pluto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 1px;
}

#Pluto p {
    width: 500px;
}

#Pluto img {
    height: 500px;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(255, 238, 238, 0.986);
}





#mainContents {
    background-color: #070a12;
    color: #e8e8e8;
}

#mainContents h2, p {
    margin-left: 20px;
    margin-right: 20px;
}

.spacer {
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    margin: 45px 0;
}




main {
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 45px;
    padding-bottom: 220px;
}

h2 {
    scroll-margin-top: 90px;
}

h3 {
    margin-left: 20px;
}


#gallery {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 20px;
    padding: 25px;
}

#gallery img {
    height: 600px;
    width: auto;
    border-radius: 8px;
    flex-shrink: 0;
}

#gallery::-webkit-scrollbar {
    height: 8px;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
}

#gallery::-webkit-scrollbar-track {
    background: transparent;
}

#gallery::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

#gallery::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
}

#telescopesection {
    position: relative;
}

iframe {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 100px rgba(27, 34, 99, 0.3);
    border-radius: 8px;
}





footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    overflow: hidden;
    transition: height 0.4s ease;

    background-color: #0b0f1a;
    border-top: 1px solid rgba(255, 255, 255, 0.08);

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 0 20px;
    z-index: 2;
}

footer:hover {
    height: 220px;
}

footer.visible {
    height: 220px;
}

footer.visible p, footer.visible a, footer.visible h3, footer.visible h4 {
    opacity: 1;
}

footer h3{
    opacity: 0;
    transition: opacity 0.45 ease;
}

footer:hover h3 {
    opacity: 1;
    transition-delay: 0.1;
}

footer h4 {
    opacity: 0;
    transition: opacity 0.45 ease;
}

footer:hover h4 {
    opacity: 1;
    transition-delay: 0.1;
}

footer a {
    color: white;
    text-decoration: none;
    opacity: 0;
    padding: 8px 11px;
    transition: opacity 0.3s ease;
}

footer a span {
    font-style: italic;
    color: white;
}

footer:hover a {
    opacity: 1;
    transition-delay: 0.1s;
}

footer a:hover {
    background-color: rgba(255,255,255,0.1);
    border-radius: 9px;
    cursor: pointer;
}